.posts {
  max-width: 720px;
  margin: 3rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 1rem;
      padding-top: 1rem;
    }

    strong {
      font-family: Inter, sans-serif;
      font-style: normal;
      display: block;
      font-weight: bold;
      font-size: 1.75rem;
      color: #f8f8f8;
      margin-top: 1rem;
      line-height: 2.12rem;
      letter-spacing: -0.031rem;
      transition: color 0.2s;
    }

    p {
      padding-top: 0.4rem;
      padding-bottom: 1.2rem;

      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      color: #d7d7d7;
      line-height: 1.375rem;
    }

    &:hover strong {
      color: #ff57b2;
    }
  }

  .metaData {
    display: flex;
    flex-wrap: wrap;
  }

  time {
    padding-right: 2rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #d7d7d7;
    line-height: 1.06rem;
    display: flex;
    align-items: center;
    color: #bbbbbb;
  }

  .postAuthor {
    padding-right: 2rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #d7d7d7;
    line-height: 1.06rem;
    display: flex;
    align-items: center;
    color: #bbbbbb;
  }

  button {
    margin-top: 4rem;
    margin-bottom: 4rem;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #ff57b2;
    line-height: 1.06rem;
  }
}
